body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #333;
}
p {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid rgb(123, 123, 244);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 10px;
}

input {
  flex: 1;

  padding: 5px;
  font-size: 16px;
  outline: none;
  border: none;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;

  display: flex;

  gap: 10px;
  flex-wrap: nowrap;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  border: 2px solid rgb(213, 234, 213);
  border-radius: 11px;
}
li img {
  width: 270px;
  height: 150px;
}
span {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(31, 179, 31);
}

.colorBox {
  width: 20px;
  height: 20px;
  display: flex;
  border: 1px solid rgb(31, 179, 31);
}
.color_style {
  display: flex;
  gap: 10px;
  align-items: center;
}
